<!-- _includes/image.html -->
<div class="image-wrapper {% if include.left %}left-aligned{% endif %} {% if include.right %}right-aligned{% endif %}">
    {% if include.url %}
    <a href="{{ include.url | absolute_url }}" title="{{ include.title }}" target="_blank">
    {% endif %}
        <img src="{{ include.img | absolute_url }}" alt="{{ include.title }}"/>
    {% if include.url %}
    </a>
    {% endif %}
    {% if include.caption %}
        <p class="image-caption"
            {% if include.maxWidth %}style="max-width: {{ include.maxWidth }}px;"{% endif %}
        >{{ include.caption }}{% if include.credits %}
            {% if include.credits_url %}
            <a href="{{ include.credits_url }}"
                rel="noopener noreferrer"
                target="_blank"
            >{{ include.credits }}</a>
            {% else %}
                {{ include.credits }}
            {% endif %}
        {% endif %}</p>
    {% endif %}
</div>
