/**
* Personal stuff
*/

.left-aligned-img {
    margin-right: 10px;
}

.right-aligned-img {
    margin-left: 10px;
}

.wrapper {
    max-width: calc(1300px - (30px * 2));
}

.image-wrapper {
    text-align: center;
    margin-bottom: 10px;
}

.image-wrapper a > img {
    cursor: zoom-in;
}

@media all and (max-width: 600px) {
    .image-wrapper {
        width: 100%;
    }
    .left-aligned-img {
        float: none;
    }
    .right-aligned-img {
        float: none;
    }
}

.image-wrapper .image-caption {
    color: #a9a9a9;
    max-width: 403px;
    margin: 0 auto;
}

.image-wrapper.left-aligned {
    float: left;
    margin-right: 10px;
}

.image-wrapper.right-aligned {
    float: right;
    margin-left: 10px;
}

.clearfix {
    clear: both;
}

.post-footer {
    margin-top: 30px;
}

.bluebox {
    background-color: #798ec4;
    padding: 10px;
    color: white;
    margin: 20px 10px;
    border-radius: 5px;
    clear: both;
}

.bluebox a {
    color: #cccccc;
}

.share-post-block .ion {
    font-size: 30px;
    margin-right: 8px;
}

.share-post-block {
    margin-top: 40px;
}
