/**
* Personal stuff
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.left-aligned-img {
    margin-right: 10px;
}

.right-aligned-img {
    margin-left: 10px;
}

.wrapper {
    max-width: calc(1300px - (30px * 2));
}

.image-wrapper {
    text-align: center;
    margin-bottom: 10px;
}

.image-wrapper a > img {
    cursor: zoom-in;
}

@media all and (max-width: 600px) {
    .image-wrapper {
        width: 100%;
    }
    .left-aligned-img {
        float: none;
    }
    .right-aligned-img {
        float: none;
    }
}

.image-wrapper .image-caption {
    color: #a9a9a9;
    max-width: 403px;
    margin: 0 auto;
}

.image-wrapper.left-aligned {
    float: left;
    margin-right: 10px;
}

.image-wrapper.right-aligned {
    float: right;
    margin-left: 10px;
}

.clearfix {
    clear: both;
}

.post-footer {
    margin-top: 30px;
}

.bluebox {
    background-color: #798ec4;
    padding: 10px;
    color: white;
    margin: 20px 10px;
    border-radius: 5px;
    clear: both;
}

.bluebox a {
    color: #cccccc;
}

.share-post-block .ion {
    font-size: 30px;
    margin-right: 8px;
}

.share-post-block {
    margin-top: 40px;
}

.gallery-tiles {
    display: flex;
    flex-wrap: wrap;
    clear: both;
}

.gallery-tiles > a {
    height: 280px;
    flex-grow: 1;
}

.gallery-tiles > a > img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    padding: 2px;
}

.gallery-full-width {
    clear: both;
    margin: 10px 0;
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    display: -ms-flexbox; /* IE10 */
    -ms-flex-wrap: wrap; /* IE10 */
}

/* Create four equal columns that sits next to each other */
.gallery-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    -ms-flex: 25%; /* IE10 */
}

.gallery-column img {
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .gallery-column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .gallery-column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.central-america-intro-map-narrow {
    display: none;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 600px) {
    .central-america-intro-map-narrow {
        display: inherit;
    }
    .central-america-intro-map-wide {
        display: none;
    }
}

/* Archive page */

.ul-no-bullets > li {
    list-style-type: none;
}
